{% extends 'BackOfficeBundle::base.html.twig' %}

{% block body %}
    <h2 class="blue">Deplacement list</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Année</th>
                <th scope="col">Mois</th>
                <th scope="col">Validé ?</th>
            </tr>
        </thead>
        <tbody>
        {% for month in months %}
            <tr>
                <td>{{ month.annee }}</td>
                <td>{{ month.mois}}</td>
                {% if month.validation == 1 %}
                  <td>Oui</td>
                {% endif %}
                {% if month.validation == 0 %}
                  <td>Non</td>
                {% endif %}
                {% if id != 1 %}
                <td>
                    <a href="{{path('back_office_deplacement_detail',{idUser:id,idMonth:month.id})}}" class="badge badge-primary"> Detail </a>
                </td>
                {% endif %}
                {% if id == 1 %}
                <td>
                    <a href="{{path('back_office_deplacement_detail',{idUser:id,idMonth:month.id})}}" class="badge badge-primary"> Change state </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('back_office_deplacement_index') }}" class="badge badge-primary">Back</a>
        </li>
    </ul>

{% endblock %}
