{% extends 'FrontOfficeBundle::base.html.twig' %}

{% block body %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" colspan="2">Date</th>
      <th scope="col">Utilisation du vélo</th>
      <th scope="col">Nb Kilomètres en vélo</th>
      <th scope="col">Indémnisation</th>
    </tr>
  </thead>
  <tbody>
    {% for i in 1..nbdays %}
    <tr>
      <td>{{monthdays[i-1]}}</td>
      <td>{{i}}</td>
      {% for day in days %}
        {% if day.jour == i %}
         {% if day.type_deplacement_id == 1 %}
            <td> Oui </td>
         {% endif %}
         {% if day.type_deplacement_id != 1 %}
            <td> Non </td>
         {% endif %}
            <td>{{ day.nb_km }} KM</td>
            <td>{{ day.montant }} €</td>
            <td> <a href="{{path('edit_day',{idDay:day.id,idMonth:idMonth,idUser:idUser})}}" class="badge badge-secondary"> Edit </a> </td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <th colspan="2"> Sous-Total </th>
      <th colspan="1"></th>
      <th>Total KM : {{addition.sumKM}}</th>
      <th>Total Montant : {{addition.sumMontant|number_format(2,'.','')}}</th>
    </tr>
  </tbody>

 <a href="{{path('add_day',{idMonth:idMonth,idUser:idUser})}}"> <button type="submit" value="Ajouter" type="button" class="btn btn-success">Add Day</button></a>
 <a href="{{path('user_main_page',{id:idUser})}}"> <button type="submit" value="Ajouter" type="button" class="btn btn-primary">Return</button></a>

{% endblock body %}
